altgraph==0.17.4
asgiref==3.7.2
distlib==0.3.7
dj-database-url==2.1.0
Django==3.2.23
django-ckeditor==6.7.0
django-js-asset==2.1.0
filelock==3.13.1
gunicorn==21.2.0
macholib==1.16.3
modulegraph==0.19.6
packaging==23.2
path==16.6.0
Pillow==9.5.0
platformdirs==3.11.0
psycopg2-binary==2.9.9
py2app==0.28.6
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
virtualenv==20.24.6
whitenoise==6.6.0
